<%= simple_form_for [:admin, resource], :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :category_ids, :collection => @categories, :as => :chosen, :prompt => :false, :input_html => { :multiple => true }, :placeholder => 'Categories' %>
  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :address, :input_html => { :onkeydown=>"if(event.keyCode==13){return false;}" }, :placeholder => I18n.t('helpers.enter_a_location') %>
  <%= f.hidden_field :lat  %>
  <%= f.hidden_field :lng  %>
  <%= f.input :comment %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), collection_path, :class => 'btn' %>
  </div>

<% end %>

<script type="text/javascript">   

    function initialize_google_maps() {
      var input = document.getElementById('review_address');
      var options = { types: ['geocode'] };

      autocomplete = new google.maps.places.Autocomplete(input, options);

      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        $('#review_lat').val(place.geometry.location.lat());
        $('#review_lng').val(place.geometry.location.lng());
      });
    }

    $(function() {
        initialize_google_maps();
    });

</script>
