<p>
  <strong><%= resource_class.human_attribute_name(:name) %>:</strong><br>
  <%= resource.front_name %>
</p>
<p>
  <strong><%= resource_class.human_attribute_name(:email) %>:</strong><br>
  <%= resource.email %>
</p>
<p>
  <strong><%= resource_class.human_attribute_name(:provider) %>:</strong><br>
  <%= resource.provider %>
</p>
<p>
  <strong><%= resource_class.human_attribute_name(:address) %>:</strong><br>
  <%= resource.address %>
</p>
<p>
  <strong><%= resource_class.human_attribute_name(:invites_count) %>:</strong><br>
  <%= resource.invites_count %>
</p>
<p>
  <strong><%= resource_class.human_attribute_name(:external_user_id) %>:</strong><br>
  <%= resource.external_user_id %>
</p>
<p>
  <strong><%= resource_class.human_attribute_name(:facebook_friends) %>:</strong><br>
  <%= render("friends", :collection => resource.facebook_friends) %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), '#', :class => 'btn back'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_resource_path, :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), resource_path, :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' %>
</div>
