<div class="edit_review_form">
  <div class="cancel-edit" id="<%= @review.id %>">
    <%= link_to I18n.t('user.review.edit.cancel'), review_path(@review), :remote => true %>
  </div>
  <%= simple_form_for(@review, :remote => true) do |f| %>
    <div class="inputs">
      <div id="except_comment">
      <%= f.input :category_ids, :collection => Category.all, :as => :chosen, :prompt => false,
            :input_html => { :multiple => true, :id => "#{@review.id}" },
            :label => I18n.t('write_review.categories_selector_label') , :placeholder => I18n.t('write_review.categories_selector_placeholder') %>
      <%= f.input :name, :required => true %>
      <%= f.input :phone  %>

      <%= f.input :address, :input_html => { :onkeydown=>"if(event.keyCode==13){return false;}" }, :placeholder => I18n.t('helpers.enter_a_location') %>
      <span id="address_validation"></span>

      <%= f.hidden_field :lat  %>
      <%= f.hidden_field :lng  %>
      </div>
      <div id="comment">
      <%= f.input :comment, :input_html => { :wrap => :soft, :rows => 12}, :label => I18n.t('write_review.comment_label') %>
      </div>

      <div class="edit_button_group">
      <%= f.submit I18n.t('helpers.links.save'), :class => 'btn btn-success save_review'%>
      <%= render 'delete', :review => @review %>
      
      <%= f.label I18n.t('helpers.links.keep_private'), :class => "keep_private_label" %>
      <%= f.radio_button :visible, "false", :class => "keep_private_button" %>
      
      <%= f.label I18n.t('helpers.links.share') , :class => "share_label" %>
      <%= f.radio_button :visible, "true" , :class => "share_button" %>
          
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">

    function initialize_google_maps() {
      var input = document.getElementById('review_address');
      var options = { types: ['geocode'] };

      autocomplete = new google.maps.places.Autocomplete(input, options);

      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        $('#review_lat').val(place.geometry.location.lat());
        $('#review_lng').val(place.geometry.location.lng());
      });

    }

    $(function() {
        initialize_google_maps();
    });

    $("#review_<%= @review.id %> select").each(function () {
        $(this).attr('data-placeholder', $(this).attr('placeholder'));
    }).chosen();

    $('.edit_review_form form').submit(function() {
      if ($('#review_address').val() == "<%= escape_javascript I18n.t('helpers.enter_a_location') %>") {
        $('#address_validation').html("<%= escape_javascript I18n.t('helpers.cant_be_blank') %>");
        return false;
      }      
    });

</script>
<div class="clearfix"></div>