<div class="breadcrumb" id="review_<%= review.id %>">
  <div class="content">
  <% if edit_enabled %>
    <%= link_to I18n.t('user.review.edit.edit'), edit_review_path(review), :remote => true, :class => "edit_review_link" %>
  <% end %>

  <div class="category_name">
    <%= review.categories_list %>
  </div>

  <div class="info">
    <strong><%= I18n.t('user.review.name') %></strong> <%= review.name %><br>
    <strong><%= I18n.t('user.review.address') %></strong> <%= review.address %><br>
    <strong><%= I18n.t('user.review.phone') %></strong> <%= review.phone %><br>
    <div class = "posted_at">Posted <%= time_ago_in_words(review.created_at) %> ago.</div>
  </div>

  <div class="comment">
    <strong class="more-info"><%= I18n.t('user.review.more_info') %></strong> 
    <div class="comment-content"><%= review.comment %></div>
  </div>
  
  <%= render 'reviews/add_to_your_page', :review => review  unless current_user == review.user %>
  
  <div class="clearfix"></div>
  
  </div>
</div>

